*{
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

img{
    cursor: pointer;
}

.div-flex{
    display: flex;
    align-items: center;
}

nav{
    justify-content: space-between;
    height: 80px;
    background:white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav-left{
    margin-left: 35px;
    width: 200px;
    justify-content: space-between;
}

.nav-left img{
    width: 160px;
}

.nav-left .menu-icon{
    width: 35px;
    height: 25px;
    margin-right: 20px;
}

.nav-middle{
    margin-left: 20px;
    width: 450px;
    height: 50px;
    padding-right: 20px;
    justify-content: space-between;
}

.nav-middle .search-box{
    border: gray solid 1px;
    border-radius: 25px;
    padding: 3px 3px;
    width: 400px;
    justify-content: space-between;
}

.nav-middle .search-box input{
    width: 260px;
    height: 30px;
    border: 0;
    outline: 0;
    background: transparent;
    padding-left: 10px;
}

.nav-middle .search-box img{
    padding-right: 10px;
    padding: 5px auto;
}

.nav-middle .voice{
    margin-left: 10px;
    padding: 5px;
    width: 28px;
}

.nav-right{
    margin-right: 35px;
    width: 250px;
    justify-content: space-between;
}

.nav-right img{
    width: 32px;
}

.nav-right .profile{
    border-radius: 50%;
}

.sidebar{
    background: #fff;
    position: fixed;
    margin-top: 10px;
    width: 15%;
    height: 100vh;
}

.sidebar .shortcut-links a, .sidebar .subscribed-list a{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
    margin: 0 auto;
}

.sidebar .shortcut-links img, .sidebar .subscribed-list img{
    width: 25px;
    margin-left: 25px;
}

.sidebar .shortcut-links p, .sidebar .subscribed-list p{
    margin-left: 20px;
    color: #5a5a5a;
}

.sidebar .shortcut-links hr{
    margin-top: 10px;
    width: 150px;
    margin-left: 25px;
}

.sidebar .subscribed-list h3{
    font-size: 13px;
    color: #5a5a5a;
    margin: 15px 0 10px 25px;
}

.sidebar .subscribed-list img{
    width: 35px;
    border-radius: 50%;
}